body{
    background-image: url('https://images.all-free-download.com/images/graphicthumb/blue_background_picture_2_169441.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}