<html>
    <head>
        <title>
            Shortest path
        </title>
        <link rel="import" href="Mainpage.html">
        <link rel="stylesheet" href="Graph_style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    </head>
    <body>
        <p><h1 align = "center">Shortest path</h1></p>
        <p>
            In the shortest path tree we start with a source node s.
            For any other node v in graph G, the shortest path between s and v is a path such that the total weight of the edges along this path
            is minimized. Therefore, the objective of the shortest path tree is to find a spanning tree such that the path from the source
            node s to any other node v is the shortest one in G.
            <br><br>
            <h4>Dijkstra algorithm</h4>
            <br>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Dijkstra_Animation.gif" align = "right">
            Dijkstra's algorithm is an algorithm for finding the shortest paths between nodes in a graph, which may represent, for example, road
            networks.For a given source node in the graph, the algorithm finds the shortest path between that node and every other.Dijkstra's algorithm uses 
            a data structure for storing and querying partial solutions sorted by distance from the start. While the original algorithm uses a 
            min-priority queue and runs in time ((|V|+|E|)*log |V|)
            <i>(where |V| is the number of nodes and |E| is the number of edges)</i>
            <br><br>
            
             </p>  
    </body>
</html>